
html {
	font-family: 'Sans';
	color:       '#3d464d';
}

body {

	margin-left:   14%;
	margin-right:  14%;

	margin-top:    5%;
	margin-bottom: 10%;

}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #479EF6;
}

a:hover {
	color: #0b77e6;
}

article {
	margin: 60px;
}

.seperator {
	color: #bfbfbf;
}

time {
	font-size: 12px;

